@{
    ViewBag.Title = "Sobre mim";
}
<h2>@ViewBag.Title</h2>

<p style="text-align: justify">Me chamo Caique Pìncerno Feio, atuo na mesa de análise MS e estou me aplicando para a vaga de desenvolvedor Jr. Desde já agradeço pela oportunidade de participar deste processo seletivo e, passando, saibam que darei 200% de mim todos os dias para ajudar a empresa a crescer mais e mais!</p>
