@{
    ViewBag.Title = "Antes de qualquer coisa";
}

<div class="jumbotron">
    <h1>Olá, Geraldo!</h1>
    <p class="lead">Bem-vindo ao teste do seu novo funcionário. Vamos começar?</p>
    <p><a href="Veiculos/Create" class="btn btn-primary btn-lg">Cadastrar veículo &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>O que foi feito/Dificuldades</h2>
        <p>
            Utilizei as tecnologias: HTML, CSS (Bootstrap), Javascript (JQuery), ASP.NET MVC e EntityFramework
        </p>
        <p>
            Tive dificuldades para o cadastro/edição/visualização das imagens. Por conta disso, acabei não o concluindo.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Resultado esperado</h2>
        <p>Criar um sistema de cadastro, edição, exclusão e listagem de veículos</p>
    </div>
    <div class="col-md-4">
        <h2>Agradecimentos</h2>
        <p>Desde já agradeço a oportunidade de estar demonstrando o meu pequeno conhecimento.</p>
    </div>
</div>